* {
    margin: 0;
    padding: 0;
}
header{
    text-align:center;
    font-size: 20px;
     padding: 10px;
}

#home {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-style: oblique;
    padding: 100px;
    
      }
      .image {
        background-image: url(homeimg.jpg);
        background-repeat: no-repeat;
    }
h1 {
    font-size: 60px;
    color: aliceblue;
}
h1:hover {
    color: green;
}
h2 {
    font-size: 55px;
}
h3 {
    font: size 60px;
}
